<%= turbo_frame_tag "message_btn" do %>

<div class="chats" style="max-width:800px">
  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <%if message.user_id==current_user.id%>
        <div class="mycomment">
          <p><%= message.message %></p>
            <%= message.created_at.strftime("%Y-%m-%d %H:%M") %>
        </div>
      <% else %>
        <div class="fukidasi">
          <div class="faceicon">
            <img src=<%= message.user.image %> class = "comment_icon" alt="アイコン">
          </div>
          <div class="chatting">
            <div class="says">
              <p><%= message.message %></p>
              <p><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></p>
            </div>
          </div>
        </div>
      <%end%>
    <% end %>
  <% end %>
</div>
   
<div class="mx-auto" style="max-width: 400px">
  <%= form_with model: @message, local: true do |f| %>
    <div class="text-center">
      <%= f.text_field :message, placeholder: "メッセージを入力してください",class: "form-control" %>
    </div>
    <div class="text-center">
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信する",class:"btn btn-outline-success" %>
    </div>
    <div class="text-center">
      <%=link_to '戻る', posts_path, class: "btn btn-outline-success"%>
    </div>
  <% end %>
</div>

<% end %>