<%= turbo_frame_tag "yours_btn" do %>

<h2 class="text-center">
  <%= link_to('本日のあなたへの1枚', 'javascript:void(0);', onclick: "window.location.reload();", class: "btn btn-outline-success btn-lg")  %>
</h2>

<div class="card mx-auto" style="max-width: 800px">   
  <% @random.each do |post| %>
    <%= image_tag post.image, class: "card-img-user"%>
      <div class="card-body">
        <h3 class="text-center"><%=safe_join(post.title.split("\n"),tag(:br))%></h3>
        <h5 class="text-center"><%= post.text.truncate(20) %></h5>
        <div class="text-center">
          <p class="text-center"><img src=<%=post.user.image %> class = "comment_icon" alt="アイコン"><%=post.user.nickname %></p>
          <p class="text-center">いいね❤️<%= post.likes.count%>/コメント💬<%= post.comments.count%></p>
          <%=link_to 'あなたへの1枚を読む', post_path(post.id), class: "btn btn-outline-success btn-lg"%>
        </div>
      </div>
  <% end %>
</div>

<%if @posts.length == 0%>
  <div class="card mx-auto" style="max-width: 800px">
    <%= link_to '#' do %>
      <%= image_tag "/audience_penlight.png", class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <p class="text-center">あなたの思いを届けよう</p>
    </div>
  </div>
<% end %>

<% end %>