<div class="user-wrapper">
  <h1 class="text-center"><%= @user.nickname %>さんのページ</h1>
  <div class="text-center">
    <img src=<%= @user.image %> class = "icon_image" alt="アイコン">
  </div>
  <% if current_user.id == @user.id %>
    <p class="text-center">ユーザー名</p>
    <h5 class="text-center"><%=@user.nickname%></h5>
    <p class="text-center">メールアドレス</p>
    <h5 class="text-center"><%=@user.email%></h5>
  <% end %>
    <p class="text-center">プロフィール</p>
    <h5 class="text-center"><%=@user.profile%></h5>
  <% if current_user.id == @user.id %>
    <div class="text-center">
      <%= link_to "登録情報の更新",edit_user_registration_path, class: "btn   btn-outline-success" %>
    </div>
  <% end %>


<% if @user.id != current_user.id %>
   <% if @isRoom == true %>
   <div class="like-wrapper">
   <div class="text-center">
     <%= link_to "ダイレクトメッセージ", room_path(@roomId),class:"like-btn btn-outline-success" %>
   <% else %>
     <%= form_with model: @room, local: true do |f|%>
       <%= fields_for @RoomUser do |room| %> 
         <%= room.hidden_field :user_id, value: @user.id %>
       <% end %>
       <div class="text-center">
       <%= f.submit "チャットを始める",class:"like-btn btn-outline-success" %>
       </div>
     <% end %>
     </div>
     </div>
   <% end %>
<% end %>
</div>


<% if current_user.id != @user.id %>
<div class="like-wrapper">
<div class="text-center">
<% if current_user.following?(@user) %>
  <%= link_to "フォロー外す", user_relationships_path(@user.id), data: { turbo_method: :delete },class:"like-btn btn-outline-success" %>
<% else %>
  <%= link_to "フォローする", user_relationships_path(@user.id), data: { turbo_method: :post },class:"like-btn btn-outline-success" %>
<% end %>
</div>
</div>
<%end%>


<div class="user-container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= @user.nickname %>さんのページ</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%=link_to '閲覧室', posts_index_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @user.nickname %>さんのページ</li>
  </ol>
</nav>
  <h2 class="text-center"><%= @user.nickname %>さんの投稿</h2>
  <%= render "layouts/card" %>
</div>
<%= paginate @posts %>

<% if current_user.id == @user.id %>
<h2 class="text-center">いいね一覧</h2>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @likes.each do |like| %>
    <div class="col"> 
      <div class="card"> 
        <%= image_tag like.post.image, class: "card-img-top"%>
        <div class="card-body">
          <h3 class="text-center"><%=safe_join(like.post.title.split("\n"),tag(:br))%></h3>
          <h5 class="text-center"><%= like.post.text.truncate(20) %></h5>
          <div class="text-center">
            <p class="text-center">投稿者<%=like.post.user.nickname%></p>
            <p class="text-center">いいね♥<%= like.post.likes.count%></p>
            <%=link_to '続きを読む', post_path(like.post.id), class: "btn btn-outline-success"%>
          </div>
        </div>
      </div>
    </div> 
    <% end %>
  </div>
</div> 
<%= paginate @likes %>

<%if @likes.length == 0%>
  <li class='list'>
    <%= link_to '#' do %>
      <%= image_tag "/audience_penlight.png", class: "card-img-top" %>
    <% end %>
    <p class="text-center">あなたのいいねを見つけよう</p>
  </li>
<% end %>

<h2 class="text-center">お気に入り一覧</h2>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @favorites.each do |favorite| %>
    <div class="col"> 
      <div class="card"> 
        <%= image_tag favorite.post.image, class: "card-img-top"%>
        <div class="card-body">
          <h3 class="text-center"><%=safe_join(favorite.post.title.split("\n"),tag(:br))%></h3>
          <h5 class="text-center"><%= favorite.post.text.truncate(20) %></h5>
          <div class="text-center">
            <p class="text-center">投稿者<%=favorite.post.user.nickname%></p>
            <p class="text-center">いいね♥<%= favorite.post.likes.count%></p>
            <%=link_to '続きを読む', post_path(favorite.post.id), class: "btn btn-outline-success"%>
          </div>
        </div>
      </div>
    </div> 
    <% end %>
  </div>

<%= paginate @favorites %>

<%if @favorites.length == 0%>
  <li class='list'>
    <%= link_to '#' do %>
      <%= image_tag "/audience_penlight.png", class: "card-img-top" %>
    <% end %>
    <p class="text-center">あなたのお気に入りを見つけよう</p>
  </li>
<% end %>
</div> 
<h2 class="text-center">フォロー一覧</h2>
<h5 class="text-center">フォロー数: <%= @user.followings.count %></h5>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @followings.each do |following| %>
     <div class="col"> 
      <div class="text-center"> 
        <img src=<%= following.image %> class = "card-img-icon" alt="アイコン">
          <h3 class="text-center">
            <%=link_to following.nickname, user_path(following.id),class:"nickname" %>
          </h3>
      </div>
     </div> 
    <% end %>
  </div>

<%= paginate @followings %>

<%if @followings.length == 0%>
  <li class='list'>
    <%= link_to '#' do %>
      <%= image_tag "/audience_penlight.png", class: "card-img-top" %>
    <% end %>
    <p class="text-center">たくさんフォローしよう</p>
  </li>
<% end %>
</div>

<h2 class="text-center">フォロワー一覧</h2>
<h5 class="text-center">フォロワー数: <%= @user.followers.count %></h5>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @followers.each do |follower| %>
     <div class="col"> 
      <div class="text-center"> 
        <img src=<%= follower.image %> class = "card-img-icon" alt="アイコン">
          <h3 class="text-center">
            <%=link_to follower.nickname, user_path(follower.id),class:"nickname" %>
          </h3>
      </div>
     </div> 
    <% end %>
  </div>


<%if @followers.length == 0%>
  <li class='list'>
    <%= link_to '#' do %>
      <%= image_tag "/audience_penlight.png", class: "card-img-top" %>
    <% end %>
    <p class="text-center">たくさんの人にフォローされよう</p>
  </li>
<% end %>
<% end %>

<%= paginate @followers %>

</div>

<%= render "layouts/footer" %>


