<div class="user-wrapper">
  <h1 class="text-center"><%= @user.nickname %>さんのページ</h1>
  <div class="text-center">
    <img src=<%= @user.image %> class = "icon_image" alt="アイコン">
  </div>
    <p class="text-center">ユーザー名</p>
    <h5 class="text-center"><%=@user.nickname%></h5>
    <p class="text-center">メールアドレス</p>
    <h5 class="text-center"><%=@user.email%></h5>
    <p class="text-center">プロフィール</p>
    <h5 class="text-center"><%=@user.profile%></h5>
    <div class="text-center">
    <%= link_to "登録情報の更新",edit_user_registration_path, class: "btn   btn-outline-success" %>
    </div>
    </div>

<div class="user-container">
  <h2 class="text-center"><%= @user.nickname %>さんの投稿</h2>
  <%= render "layouts/card" %>
</div>

<h2 class="text-center">いいね一覧</h2>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @likes.each do |like| %>
    <div class="col"> 
      <div class="card"> 
        <%= image_tag like.post.image, class: "card-img-top"%>
        <div class="card-body">
          <h3 class="text-center"><%=safe_join(like.post.title.split("\n"),tag(:br))%></h3>
          <h5 class="text-center"><%= like.post.text.truncate(20) %></h5>
          <div class="text-center">
            <p class="text-center">投稿者<%=like.post.user.nickname%></p>
            <p class="text-center">いいね♥<%= like.post.likes.count%></p>
            <%=link_to '続きを読む', post_path(like.post.id), class: "btn btn-outline-success"%>
          </div>
        </div>
      </div>
    </div> 
    <% end %>
  </div>
</div> 
<%= paginate @likes %>

<h2 class="text-center">お気に入り一覧</h2>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @favorites.each do |favorite| %>
    <div class="col"> 
      <div class="card"> 
        <%= image_tag favorite.post.image, class: "card-img-top"%>
        <div class="card-body">
          <h3 class="text-center"><%=safe_join(favorite.post.title.split("\n"),tag(:br))%></h3>
          <h5 class="text-center"><%= favorite.post.text.truncate(20) %></h5>
          <div class="text-center">
            <p class="text-center">投稿者<%=favorite.post.user.nickname%></p>
            <p class="text-center">いいね♥<%= favorite.post.likes.count%></p>
            <%=link_to '続きを読む', post_path(favorite.post.id), class: "btn btn-outline-success"%>
          </div>
        </div>
      </div>
    </div> 
    <% end %>
  </div>
</div> 
<%= paginate @favorites %>

<%= render "layouts/footer" %>



