<%= turbo_frame_tag "search_card_btn" do %>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @results.each do |result| %>
      <div class="col"> 
        <div class="card"> 
          <%= image_tag result.image, class: "card-img-top"%>
          <div class="card-body">
            <h5 class="text-center"><%=safe_join(result.title.split("\n"),tag(:br))%></h5>
            <p class="text-center"><%= result.text.truncate(20) %></p>
            <div class="text-center">
              <p class="text-center"><img src=<%=result.user.image %> class = "comment_icon" alt="アイコン"><%=result.user.nickname %></p>
              <p class="text-center">いいね♥<%= result.likes.count%></p>
              <%=link_to '続きを読む', post_path(result.id), class: "btn btn-outline-success"%>
            </div>
          </div>
        </div>
      </div>
    <% end %> 
  </div> 
</div>

<%if @results.length == 0%>
  <div class="card mx-auto" style="max-width: 800px">
    <%= link_to '#' do %> 
      <%= image_tag "/zarei_dougi.png", class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <p class="text-center">申し訳ございません。入力されたタイトルはございません。</p>
    </div>
  </div>
<% end %>

<%= paginate @results %>

<% end %>
