<img src="/Photoelly051.jpg" class="d-block w-100" height=300 alt="room">
  <div class="chat-room">
   <%= render "layouts/page_room" %> 
    <h1 class="text-center">メッセージ✉️</h1>
      <% @RoomUsers.each do |room| %> 
        <div class="text-center"><img src=<%= room.user.image %> class = "comment_icon" alt="アイコン"><%= room.user.nickname %>さん</div>
      <% end %>
      <%= render "messages/message" %>
  </div>
<%= render "layouts/footer" %>
