<div class="category-wrapper">
  <h2 class="text-center">
    <%= @category.name %>
  </h2>
    <%= render "layouts/card" %>
  <%if @posts.length == 0%>
    <li class='list'>
      <%= link_to '#' do %>
        <%= image_tag "/audience_penlight.png", class: "card-img-top" %>
      <% end %>
      <p class="text-center">あなたの投稿を届けよう</p>
    </li>
  <% end %>
    <%= paginate @posts %>
</div>