<img src="/ogasuta458A8658.jpg" class="d-block w-100" height=300 alt="閲覧室">
<div class="category-wrapper">

<%= render "layouts/page_category" %>

  <h2 class="text-center">
    <%= @category.name %>
  </h2>
    <%= render "layouts/card" %>
    <%= render "layouts/return_btn" %>
</div>
<%= render "layouts/footer" %>