<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%=link_to '閲覧室', libraries_show_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><%=link_to 'ホーム', root_path, class: "nav-link active"%></li>
        <li class="nav-item">
        <% if user_signed_in?%>
          <li><%= link_to "#{current_user.nickname}さん",user_path(current_user.id), class: "nav-link" %></li>
          <li><%=link_to 'ログアウト', destroy_user_session_path, class: "nav-link"%></li>
        <% else %>
          <li><%=link_to '新規登録', new_user_registration_path,class: "nav-link"%></li>
          <li><%=link_to 'ログイン', new_user_session_path, class: "nav-link"%></li>
        <% end %>
        </li>
        <li><%=link_to '届ける', new_post_path, class: "nav-link"%></li>
      </ul>
        <%= search_form_for @q, url: search_posts_path do |f| %>
          <div class="d-flex">
            <%= f.search_field :title_cont, placeholder: "タイトルを入力", required: true,class: "form-control me-2"%>
            <%= f.submit '検索', class: "btn btn-outline-success" %>
          </div>
        <% end %>
    </div>
  </div>
</header>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/ogasuta458A7873.jpg" class="d-block w-100" height=400 alt="閲覧室">
    </div>
    <div class="carousel-item">
      <img src="/OG458A8096.jpg" class="d-block w-100" height=400 alt="パンケーキ">
    </div>
    <div class="carousel-item">
      <img src="/cafe201261763.jpg" class="d-block w-100" height=400 alt="コーヒー">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="libraries-container">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">閲覧室</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%=link_to 'ホーム', root_path %></li>
    <% if user_signed_in?%>
      <li class="breadcrumb-item"><%= link_to "#{current_user.nickname}さんのページ",user_path(current_user.id)%></li>
      <li class="breadcrumb-item active" aria-current="page">閲覧室</li>
    <% else %>
      <li class="breadcrumb-item active" aria-current="page">閲覧室</li>
    <% end %>
  </ol>
</nav>

  <h2 class="text-center">投稿一覧</h2>
  <%= render "layouts/card" %>
  

<hr>
  <%= render "categories/category_search" %>
<hr>


 <%= render "yours/yours" %>

</div>
<%= render "layouts/footer" %>

