<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%=link_to '閲覧室', libraries_show_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%=link_to 'ホーム', root_path, class: "nav-link active"%>
        </li>
        <li class="nav-item">
        <% if user_signed_in?%>
        <li><%= link_to "#{current_user.nickname}さん",user_path(current_user.id), class: "nav-link" %></li>
        <li><%=link_to 'ログアウト', destroy_user_session_path, class: "nav-link"%></li>
        <% else %>
        <li><%=link_to '新規登録', new_user_registration_path,class: "nav-link"%></li>
        <li><%=link_to 'ログイン', new_user_session_path, class: "nav-link"%></li>
        <% end %>
        </li>
        <li>
          <%=link_to '届ける', new_post_path, class: "nav-link"%>
        </li>
      </ul>
      <%= search_form_for @q, url: search_posts_path do |f| %>
        <div class="d-flex">
          <%= f.search_field :title_cont, placeholder: "タイトルを入力", required: true, class: "form-control me-2"%>
            <%= f.submit '検索', class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </div>
  </div>
</header>

<img src="/ogasuta458A7873.jpg" class="d-block w-100" height=400 alt="閲覧室">

<div class="libraries-container">
  <h2 class="text-center">投稿一覧</h2>
  <%= render "layouts/card" %>
  <%if @posts.length == 0%>
    <li class='list'>
      <%= link_to '#' do %>
        <%= image_tag "/audience_penlight.png", class: "card-img-top" %>
      <% end %>
      <p class="text-center">あなたの投稿を届けよう</p>
    </li>
  <% end %>
  <%= paginate @posts %>

<hr>
  <h2 class="text-center">カテゴリー検索</h2>
  <%= search_form_for @q ,url: post_category_path do |f| %>
    <div class="text-center">
      <%= f.collection_select :category_id_eq, Category.where.not(id:1), :id, :name %>
      <%= f.submit '探す', class:"btn btn-outline-success btn-sm" %>
    </div>
  <% end %>

<hr>

 <h2 class="text-center">
    <%= link_to('本日のあなたへの1枚', 'javascript:void(0);', onclick: "window.location.reload();", class: "btn btn-outline-success btn-lg")  %>
 </h2> 
<% @random.each do |post| %>
  <%= image_tag post.image, class: "card-img-top"%>
  <h5 class="text-center"><%=safe_join(post.title.split("\n"),tag(:br))%></h5>
  <p class="text-center"><%= post.text.truncate(20) %></p>
  <div class="text-center">
    <%=link_to 'あなたへの1枚を読む', post_path(post.id), class: "btn btn-outline-success btn-lg"%>
  </div>
<% end %>
<%if @posts.length == 0%>
  <li class='list'>
    <%= link_to '#' do %>
      <%= image_tag "/audience_penlight.png", class: "card-img-top" %>
    <% end %>
    <p class="text-center">あなたの投稿を届けよう</p>
  </li>
<% end %>
</div>
<%= render "layouts/footer" %>

