<%= render "layouts/header" %>



<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/ogasuta458A7873.jpg" class="d-block w-100" height=400 alt="閲覧室">
    </div>
    <div class="carousel-item">
      <img src="/ogasuta458A7704.jpg" class="d-block w-100" height=400 alt="閲覧室">
    </div>
    <div class="carousel-item">
      <img src="/cafe201261763.jpg" class="d-block w-100" height=400 alt="閲覧室">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="libraries-container">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">閲覧室</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%=link_to 'ホーム', root_path %></li>
    <% if user_signed_in?%>
    <li class="breadcrumb-item"><%= link_to "#{current_user.nickname}さんのページ",user_path(current_user.id)%></li>
    <li class="breadcrumb-item active" aria-current="page">閲覧室</li>
    <% else %>
    <li class="breadcrumb-item active" aria-current="page">閲覧室</li>
    <% end %>
  </ol>
</nav>

  <h2 class="text-center">投稿一覧</h2>
  <%= render "layouts/card" %>
  

<hr>
  <%= render "categories/category_search" %>
<hr>


 <%= render "yours/yours" %>

</div>
<%= render "layouts/footer" %>

