<div class="post-container">
  <%= image_tag @post.image, class: "card-img"%>
  <div class="card mx-auto" style="max-width: 650px">
    <h2 class="text-center"><%=@post.title%></h2>
    <p class="text-center"><%=@post.text%></p>
    <% if user_signed_in? %>
    <% if current_user.id == @post.user_id %>
      <div class="text-center">
        <%= link_to "編集", edit_post_path(@post.id),class:"btn btn-outline-success btn-lg" %>
        <%= link_to "削除", post_path(@post.id), data: { turbo_method: :delete } ,class:"btn btn-outline-success btn-lg" %>
      </div>
    <% end %>
    <% end %>
  </div>

<% if user_signed_in? %>

<hr>

  <h5 class="text-center">メッセージを届ける</h5>
   <div class="card mx-auto" style="max-width: 650px">
      <div class="card-body">
        <%= form_with model:[@post,@comment] do |f| %>
        <div class="text-center">
          <%= f.text_area :comment,required: true, class: "form-control" %>
        </div>
        <div class="text-center">
          <%= f.submit "送信", class:"btn btn-outline-success" %>
        </div>
        <% end %>
      </div>
    </div>
<% end %>

<hr>

<h5 class="text-center">メッセージ</h5>
<div class="card mx-auto" style="max-width: 650px">
  <div class="card-body">
    <% @post.comments.each do |comment| %>
      <div class="text-center">
        <%= comment.comment %>
      </div>
      <div class="text-center">
        <%= comment.user.nickname%>
       </div>
      <div class="text-center">
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(comment.post,comment), data: { turbo_method: :delete }, class:"btn btn-outline-success" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div> 
</div>