<div class="post-container">
  <%= image_tag @post.image, class: "card-img"%>
  <div class="post-card-body">
    <p class="text-center">カテゴリー<%=@post.category.name%></p>
    <h2 class="text-center"><%=safe_join(@post.title.split("\n"),tag(:br))%></h2>
    <h4 class="text-center"><%=safe_join(@post.text.split("\n"),tag(:br))%></h4>
    <p class="text-center"><img src=<%=@post.user.image %> class = "comment_icon" alt="アイコン"><%=link_to @post.user.nickname, user_path(@post.user_id),class:"nickname" %></p>
    <% if user_signed_in? %>
    <% if current_user.id == @post.user_id %>
      <div class="text-center">
        <%= link_to "編集", edit_post_path(@post.id),class:"btn btn-outline-success btn-lg" %>
        <%= link_to "削除", post_path(@post.id), data: { turbo_method: :delete } ,class:"btn btn-outline-danger btn-lg" %>
      </div>
    <% end %>
    <% end %>
  </div>


  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">投稿</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%=link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%=link_to '閲覧室', posts_index_path %></li>
    <li class="breadcrumb-item active" aria-current="page">投稿</li>
  </ol>
</nav>
  <%= render "likes/like" %>
  <%= render "favorites/favorite" %>
  <%= render "comments/comment" %>
</div>
