<div class="post-container">
  <%= image_tag @post.image, class: "card-img"%>
  <div class="post-card-body">
    <p class="text-center">カテゴリー<%=@post.category.name%></p>
    <h2 class="text-center"><%=safe_join(@post.title.split("\n"),tag(:br))%></h2>
    <p class="text-center"><%=safe_join(@post.text.split("\n"),tag(:br))%></p>
    <p class="text-center">投稿者<%=@post.user.nickname%></p>
    <% if user_signed_in? %>
    <% if current_user.id == @post.user_id %>
      <div class="text-center">
        <%= link_to "編集", edit_post_path(@post.id),class:"btn btn-outline-success btn-lg" %>
        <%= link_to "削除", post_path(@post.id), data: { turbo_method: :delete } ,class:"btn btn-outline-danger btn-lg" %>
      </div>
    <% end %>
    <% end %>
  </div>

<%= render "layouts/like" %>
<%= render "layouts/favorite" %>

<% if user_signed_in? %>
   <div class="card mx-auto" style="max-width: 650px">
      <div class="card-body">
       <h5 class="text-center">メッセージを届ける</h5>
        <%= form_with model:[@post,@comment] do |f| %>
        <div class="text-center">
          <%= f.text_area :comment,required: true, class: "form-control" %>
        </div>
        <div class="text-center">
          <%= f.submit "送信", class:"btn btn-outline-success" %>
        </div>
        <% end %>
      </div>
    </div>
<% end %>

<div class="card mx-auto" style="max-width: 650px">
  <div class="card-body">
  <h5 class="text-center">メッセージ</h5>
    <% @post.comments.each do |comment| %>
    
      <div class="text-center">
        <%=safe_join(comment.comment.split("\n"),tag(:br)) %>
      </div>
      <div class="text-center">
        <%= comment.user.nickname%>
       </div>
      <div class="text-center">
        <% if comment.user == current_user %>
          <%= link_to "削除", post_comment_path(comment.post,comment), data: { turbo_method: :delete }, class:"btn btn-outline-danger btn-sm" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div> 
</div>
<%= render "layouts/footer" %>