<%= turbo_frame_tag "card" do %>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @posts.each do |post| %>
      <div class="col"> 
        <div class="card"> 
          <%= image_tag post.image, class: "card-img-top"%>
            <div class="card-body">
              <h3 class="text-center"><%=safe_join(post.title.split("\n"),tag(:br))%></h3>
              <p class="text-center">投稿日<%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
              <div class="text-center">
                <p class="text-center"><img src=<%=post.user.image %> class = "comment_icon" alt="アイコン"><%=post.user.nickname %></p>
                <p class="text-center">いいね❤️<%= post.likes.count%>/お気に入り🎁<%= post.favorites.count%>/コメント💬<%= post.comments.count%></p>
                <%=link_to '閲覧する', post_path(post.id), class: "btn btn-outline-success", data: { turbo_frame: 'card' }%>
              </div>
            </div>
        </div>
      </div> 
    <% end %>
  </div>
</div>

<%if @posts.length == 0%>
  <div class="card mx-auto" style="max-width: 600px">
    <%= link_to '#' do %>
      <%= image_tag "/album_family.png", class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <p class="text-center">あなたの思いを届けよう</p>
    </div>
  </div>
<% end %>

<%= paginate @posts %>

<% end %>