<%= turbo_frame_tag "like_card" do %>

<% if current_user.id == @user.id %>
  <h2 class="text-center">いいね❤️一覧</h2>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
        <% @likes.each do |like| %>
          <div class="col"> 
            <div class="card">      
              <%= image_tag like.post.image, class: "card-img-top"%>
              <div class="card-body">
                <h3 class="text-center"><%=safe_join(like.post.title.split("\n"),tag(:br))%></h3>
                 <p class="text-center">投稿日<%= like.post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                <div class="text-center">
                  <p class="text-center"><img src=<%=like.post.user.image %> class = "comment_icon" alt="アイコン"><%=like.post.user.nickname%></p>
                  <p class="text-center">いいね❤️<%= like.post.likes.count%>/お気に入り🎁<%= like.post.favorites.count%>/コメント💬<%= like.post.comments.count%></p>
                  <%=link_to '閲覧する', post_path(like.post.id), class: "btn btn-outline-success", data: { turbo_frame: 'like_card' }%>
                </div>
              </div>
            </div>
          </div> 
        <% end %>
      </div>
    </div> 

<%if @likes.length == 0%>
  <div class="card mx-auto" style="max-width: 600px">
    <%= link_to '#' do %>
      <%= image_tag "/hand_good.png", class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <p class="text-center">あなたのいいねを届けよう</p>
    </div>
  </div>
<% end %>

<%= paginate @likes %>

<% end %>

<% end %>
