
<div class="edit-wrapper">
  <h2 class="text-center">アカウント情報編集</h2>
  <div class="card mx-auto" style="max-width: 400px">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="text-center">
        <label for="exampleFormControlInput1" class="form-label">アイコンの更新</label>
        <div class="field">
          <%= f.file_field :image, class:"form-control" %>
        </div>
      </div>
      <div class="text-center">
        <label for="exampleFormControlInput1" class="form-label">ニックネームの更新</label>
        <div class="field">
          <%= f.text_field :nickname, class:"form-control", id: "nickname", placeholder:"例) 山田太郎", maxlength:"40" %>
        </div>
      </div>
      <div class="text-center">
        <label for="exampleFormControlInput1" class="form-label">Eメールの更新</label>
        <div class="field">
          <%= f.email_field :email, class:"form-control", id:"email", placeholder:"PC・携帯どちらでも可",autofocus: true%>
        </div>
      </div>
      <div class="text-center">
        <label for="exampleFormControlInput1" class="form-label">プロフィールの入力</label>
        <div class="field">
          <%= f.text_area :profile, class:"form-control", id:"profile", placeholder:"特技・趣味",autofocus: true%>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div> 
      <% end %>

      <div class="text-center">
        <%= f.label :パスワード %> <i>(更新する場合入力)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div> 
      <div class="text-center"> 
        <%= f.label :パスワード %> <i>(更新する場合もう一度入力)</i><br /> 
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %> 
      </div> 
      <div class="text-center">
        <%= f.submit "アカウントの更新", class:"btn btn-outline-success" %>
      </div>
      <div class="text-center">
        <%= link_to "戻る", :back, class:"btn btn-outline-success" %>
      </div>
    <% end %>
  </div>
 </div>
</div>

<div class="edit-container">
  <h5 class="text-center">アカウントを削除しますか？</h5>
    <p class="text-center">本当によろしいですか?</p>
  <div class="text-center">
    <%= link_to "アカウントを削除", registration_path(resource_name), data: { turbo_method: :delete }, class:"btn btn-outline-danger" %>
  </div>
</div>


